<div class="lower-nav-section">
        <div class="w-container">
            <a class="lower-nav-link" href="#!/overview" ng-class="currentPage('overview')"><i class="fas fa-user-circle"></i>&ensp;Overview</a>
            <a class="lower-nav-link" href="#!/transactions" ng-class="currentPage('transactions')"><i class="fas fa-envelope-open-dollar"></i>&ensp;Transactions</a>
            <a class="lower-nav-link" href="#!/send" ng-class="currentPage('send')"><i class="fas fa-share-square"></i>&ensp;Send</a>
        </div>
    </div>
    <div class="w-container account-catchup-alert" ng-show="isAccountCatchingUp()">
        <div class="w-form-done success-paragraph success-box" style="display: block;">
            <i class="fas fa-spinner fa-spin"></i>&ensp;Your account is catching up, your details may be out-of-date
            until it is finished ({{blockchain_height - account_scanned_block_height}}
            blocks behind)
        </div>
    </div>