<div class="coloured">
  <div class="w-container">
    <h1 class="slider-heading"><i class="fas fa-wrench gradient-icon"></i>&ensp;Swap Support</h1>
    <div class="subhead-text">Need an account?&nbsp;<a href="#!/create-your-account" class="login-link steps">Create a Swap account.</a>
    </div>
  </div>
</div>
<div>
  <div class="w-container create-account-container">
    <div class="no-account-div top-box">
      <div class="w-row">
        <!--
        <div class="w-col w-col-6 column-support">
          <div class="support-block">Support Email:</div>
          <div class="support-text">xxx@xxxx</div>
        </div>
        -->
        <div class="w-col w-col-12 column-support">
          <div class="support-block"><i class="fas fa-comments"></i>&ensp;Feedback &amp;&nbsp;Bugs:</div>
          <div class="support-text">Please make an issue at 
              <a href="https://github.com/moneroexamples/openmonero" rel="nofollow" target="_blank">github.com/moneroexamples/openmonero</a></div>
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-12">
        <div class="no-account-div">
          <div class="info-header middle"><i class="fas fa-head-side-brain"></i>&ensp;What is Open Monero?</div>
          <div class="no-account-text thin middle">
            Open Monero is an open source, re-implementation
            of <a href="https://mymonero.com/" rel="nofollow" target="_blank">MyMonero.com</a>.
            The frontend, html, css, JavaScript, were adapted
            from, and originally developed by <a href="https://mymonero.com/" rel="nofollow" target="_blank">MyMonero.com</a>.

           The Open Monero backend is open source, free
            to use and modify.
          </div>
        </div>
      </div>
      <!--
      <div class="w-col w-col-6">
        <div class="no-account-div">
          <div class="info-header middle">What is a Hosted Monero Account?</div>
          <div class="no-account-text thin middle">The service provides secure, hosted Monero accounts in order to provide easy access to funds for those that would prefer not to run a full Monero client themselves, or for those on devices with limited resources. You can access your account on any device, as long as you have access to your private login key. The service never knows your private login key, and is thus unable to spend your funds without your authorisation. All of the private cryptography is done locally on your device.</div>
        </div>
      </div>
      -->
    </div>
  </div>
  <div class="graph">
      <img src="images/graph-swap.svg" alt="graph" class="img-fluid">
  </div>
</div>